@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add this to your CSS file or stylesheet */
.job-posting:hover {
    background-color: #f0f0f0; /* Change to the desired background color on hover */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Add a shadow on hover */
    transition: background-color 0.3s, box-shadow 0.3s; /* Add smooth transition */
  }
  